.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
ap_include.am
apertium-cux.pc
autom4te.cache/
config.log
config.status
configure
cux.autogen.att.gz
cux.autogen.bin
cux.autogen.hfst
cux.automorf.att.gz
cux.automorf.bin
cux.automorf.hfst
cux.autoseg.att.gz
cux.autoseg.bin
cux.autoseg.hfst
cux.rlx.bin
install-sh
missing
modes/
